# Arquivos de byte compilados Python
__pycache__/

# Python compilated files
*.pyc
*.pyo
*.pyd

# Diretório de ambiente virtual
.venv/

# Logs e arquivos de dados
*.log
*.csv

# Arquivos de configuração
*.ini
*.cfg

# Diretório de dependências
lib/
libs/

# Arquivos gerados automaticamente
*.bak
*.swp
*.~

#Arquivos de pytest
.pytest_cache

#Excessoes
!Pytest.ini

Authentication.json

